*
    box-sizing: border-box
    margin: 0
    padding: 0
    
main
    width: 100svw
    height: 100svh
    background-image: url('./images/background-pattern-mobile.svg')
    background-repeat: no-repeat
    background-size: contain
    display: flex
    justify-content: center
section 
    background-color: white
    margin: 1rem
