main
    width: 100svw
    height: 100svh
    background-image: url('./images/background-pattern-mobile.svg')
    background-repeat: no-repeat
    background-size: contain
    display: flex
    justify-content: center
    align-items: center
    padding: 1rem
section
