@import './settings.sass'
*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: $font
    font-size: 16px
h1, h2
    color: $color-dark-purple
p
    color: $color-gray-purple
main
    width: 100svw
    height: 100svh
    background-image: url('./images/background-pattern-mobile.svg')
    background-repeat: no-repeat
    background-size: contain
    display: flex
    justify-content: center
section 
    background-color: white
    margin: auto 1rem
    padding: 1rem
    border-radius: 1rem
.title
    display: flex
    gap: 1rem
    margin: 1rem 0
    align-items: center
    h1
        font-size: 2rem
    img
        width: 1.2rem
.faq
    li
        list-style-type: none
        border-bottom: 1px solid $color-gray-purple
    &_question
        display: flex
        justify-content: space-between
        gap: 1rem
        margin: 1rem 0
    p
        margin-bottom: 1rem
        font-weight: 600
    &_response
        max-height: 0
        overflow: hidden
        transition: all 0.4s ease
        &.open
            max-height: 9999px
            height: auto
            transition: all 0.4s ease
    
